
body {
    font-family: "Segoe UI";
    color: #444444;    
}

#mainTabSection {
    padding: 0 1rem;
    background-color: #e0e0e0;
}

#mainContentSection {
    padding: 1rem 1rem;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-justify-start {
    justify-content: flex-start;
}

.flex-justify-end {
    justify-content: flex-end;
}