
body {
    font-family: "Segoe UI";
    color: #444444;    
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-justify-start {
    justify-content: flex-start;
}

.flex-justify-end {
    justify-content: flex-end;
}

section {
    border: 1px solid blue;
}


.image-button-style {
    padding: 0.2rem;
    border-radius: 5px;
    
    text-decoration: none;
    font-weight: bold;
    color: #444444;  
}

.image-button-style:hover {
    background-color: rgba(243,243,243,1);
}

.showDirtyStyle { 
    font-style: italic;    
}